body{
  margin: 0px;
  padding-top: 25px;
}
#app-jason{
  grid-column-start: 2;
  grid-column-end: 4;

  font-family: 'Mulish', sans-serif !important;
  //carousel
  .modal-pos{
    margin-top: -25px;
    margin-left: -225px;
  }
  .carousel-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.89);
    position: fixed;
    /* backdrop-filter: blur(8px); */
    z-index: 500;
    display: flex;
    justify-content: center;
  }

  .carousel-container {
    font-size: 14px;
    position: fixed;
    border-radius: 8px;
    z-index: 12;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .carousel-nav {

  }
  .carousel-top-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 24px;
    margin-bottom: 16px;
  }
  .carousel-header-info {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    color: white;
    width: -webkit-calc(50% - 24px);
  }
  .carousel-main-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: -webkit-calc(50% - 24px);
  }
  .carousel-main-btns button {
    cursor: pointer;
    transition: 300ms;
    margin: 0px 8px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: white;
    border: 1px solid white;
    text-align: center;
    border-radius: 8px;
  }
  .carousel-main-btns button:hover {
    background-color: #E8E9EA;
  }

  #schedule {
    color: white;
    background-color: #D93C23;
    border: 1px solid #D93C23;;
  }

  #schedule:hover {
    background-color: white;
    color: #D93C23;
    border: 1px solid #D93C23;;
  }

  .current-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pagination {
    font-size: 16px;
    color: white;
    position: fixed;
    left: 30;
    bottom: 18;
  }

  .carousel-nav  {
    width: 100%;
    display: flex;
    flex-direction: row;
    top: 53%;
    position: fixed;
    justify-content: center;
  }

  .current-image img {
    height: 84vh;
  }

  .nav svg {
    cursor: pointer;
    transition: 300ms;
    height: 24px;
    background-color: rgb(59, 65, 68);
    border-radius: 50%;
    padding: 12px;
    fill: white;
  }

  .nav svg:hover {
    background-color: #869099;
  }

  .nav-left {
    position: fixed;
    left: 12%;
  }

  .nav-right {
    position: fixed;
    right: 12%;

  }

  .exit-btn-div {
    border: none;
    display: flex;
    justify-content: center;
  }

  .exit-btn {
    fill: white;
    transition: 300ms;
    height: 32px;
    align-self: center;
  }

  .exit-btn:hover {
    fill: #007883;
    cursor: pointer;
  }

  #carousel-share {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #carousel-share svg {
    width: 24px;
    margin-right: 8px;
  }
  #carousel-save {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #carousel-save svg {
    width: 22px;
    margin-right: 8px;
  }

  //main
  body {
    background-color: rgb(243, 243, 243);
    margin: 0px;
    font-family: 'Mulish', sans-serif;
  }

  #img-overlay {
    position: fixed;
    z-index: 1000;
    width: 100%;
    opacity: 0.5;
    filter: invert(100%);
    display: none;
  }

  .app {
    font-weight: bold;
  }

  .app button {
    font-weight: 600;
  }

  .main-container {
    background-color: rgb(255, 255, 255);
    width: 990px;
    margin: 0 auto;

    position: relative;
    z-index: 0;
    border-radius: 10px;
    height: 58%;
    min-height: 300px;
    overflow: hidden;
  }

  .image-container {
    transition: 500ms;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .image-container:hover {
    transform: scale(1.05);
  }

  .mini-img-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 26px;
  }

  .main-img-1 {
    width: 840px;
    transition: 0.5s;
    height: 100%;
    cursor: pointer;
    transform: scale(1.05);
    overflow: hidden;
  }

  .main-img-2 {
    width: 290px;
    height: 48%;
    margin-bottom: 8px;
  }

  .main-img-3 {
    width: 290px;
    height: 60%;
  }

  .top-row {
    position: absolute;
    top: 0px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8px 2px;
  }

  .meta {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .meta-item {
    font-size: 11px;
    margin: 0px 5px;
    background-color: #ffffff;
    height: 30%;
    border-radius: 5px;
    padding: 3px 4px 5px 4px;
    border: 1px solid rgb(196, 196, 196);
    cursor: default;
  }

  .main-btns {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    margin-right: 4px;
  }

  #main-btns {
    width: 50%;
    justify-content: flex-end;
  }

  #main-btns button {
    transition: 300ms;
    padding-top: 10px;
  }

  #main-btns button:hover {
    background-color: #E8E9EA;
  }

  #main-btns svg {
    fill: #007883;
  }

  .img-count button {
    /* width: 100%; */
    transition: 300ms;
    position: absolute;
    bottom: 10px;
    right: 8px;
    border-radius: 4px;
    border: 1px solid rgb(61, 61, 61);
    background-color: rgba(31, 31, 31, 0.377);
    color: white;
    font-size: 14px;
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    /* align-self: f; */
  }

  .img-count button:hover {
    background-color: rgba(165, 165, 165, 0.829);
    border: 1px solid rgb(177, 177, 177);
  }

  .for-sale {
    color: #33B969;
  }

  .img-svg {
    height: 16px;
    padding-right: 2px;
  }
  .img-svg path {
    fill: white;
  }

  #img-count {
    align-self: flex-start;
  }

  #like-svg {
    width: 22px;
  }

  #share-svg{
    width: 24px;
  }

  #share {
    width: 110px;
  }


  //modal

  .blur-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.699);
    position: fixed;
    backdrop-filter: blur(8px);
    z-index: 4;
    display: flex;
    justify-content: center;
  }

  .modal-container {
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    position: fixed;
    border-radius: 8px;
    z-index: 8;
    height: 88vh;
    width: 93vw;
    margin-top: 48px;
    overflow: hidden;

  }

  .header-btns {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 8px 8px 8px 8px;
    border-bottom: 1px solid rgb(216, 216, 216);
    color: rgb(67, 68, 68);
  }
  .slider-btns {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 100%;
  }
  .slider-btns button {
    color: #3B4144;
    align-self: center;
    transition: 0.2s;
    padding: 12px 16px;
    padding-bottom: 28px;
    font-size: 16px;
    margin-right: 4px;
    border-radius: 8px;
    height: 28px;
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
  }
  .slider-btns button:hover {
    background-color: #E8E9EA;
    cursor: pointer;
  }

  .main-btns {
    width: 300px;
  }

  .exit-btn-div {
    margin-left: 10px;
  }

  .main-btns button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 8px;
    padding: 0px;
    width: 100px;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgb(218, 218, 218);
    height: 40px;
    cursor: pointer;
    transition: 300ms;
    color: #3B4144;
  }
  .main-btns button:hover {
    background-color: #E8E9EA;
  }
  .main-btns svg {
    padding-right: 6px;
    fill: #007883;
  }

  #modal-exit {
    fill: rgb(51, 51, 51);
    align-self: flex-start;
    padding-top: 5px;
  }

  #modal-exit:hover {
    fill: #007883;
  }

  .header-info {
    display: flex;
    flex-direction: row;
    padding: 8px;
    padding-left: 12px;
    font-size: 14px;
    color: rgb(59, 65, 68);
  }

  .divider {
    margin: 0px 8px;
  }

  .modal-body {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 4px;
    padding-top: 0px;
    overflow: hidden;
    height: 100%;
  }

  .image-grid {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
    border-radius: 8px;
    height: -webkit-calc(86.5%);
  }

  #img0 {
    /* width: 100%; */
    /* border-radius: 12px 12px 0px 0px; */
  }

  .image-grid img {
    /* max-width: auto; */
    max-width: -webkit-calc(50% - 8px);
    /* max-height: -webkit-calc(50% - 8px); */
    object-fit: cover;
    flex-grow: inherit;
    padding: 4px;
    overflow-y: scroll;
  }

  .schedule-bar img {
    width: 332px;
    margin-left: 8px;
    align-self: flex-end;
    overflow: scroll;
    box-shadow: rgba(59, 65, 68, 0.18) 0px 17px 21px -1px;
  }

  #selected-btn {
    color: #007883;
    border: 1px solid rgb(226, 226, 226);
    box-shadow: rgba(59, 65, 68, 0.4) 0px 12px 20px -15px;
  }

  #modal-share {
    width: 110px;
  }

  #modal-share svg {
    width: 24px;
    fill: rgb(61, 61, 61);
  }

  #modal-like svg {
    width: 24px;
    fill: rgb(61, 61, 61);
  }

  .exit-btn {
    width: 24px;
  }


}